* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*modo escuro*/
:root {
    --text-color: white;
    --bg-url: url(./assets/assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1); 
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/assets/moon-stars.svg);
}

/*modo claro*/
.light {
    --text-color: black;
    --bg-url: url(./assets/assets/bg-desktop-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/assets/sun.svg);
}

body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

body * {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

/*toda a div*/
#container {
    width: 100%;
    max-width: 588px;
    margin: 30px auto 0px;
    padding: 0 24px;
}

/*foto de perfil*/
#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
}

/*nome*/
#profile p {
    font-weight: 300;
    line-height: 24px;
    margin-top: 8px;
}

/*switcher*/
#switch {
    position: relative;
    width: 64px;

    margin: 4px auto;
}

#switch button {
    width: 30px;
    height: 30px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-to-dark 0.5s forwards;
}

.light #switch button {
    animation: slide-to-light 0.5s forwards;
}

#switch button:hover {
    outline: 6px solid var(--highlight-color);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/*caixas de links*/
ul {
    list-style: none;
    
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 20px 0;
}

ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    
    text-decoration: none;
    font-weight: 500;

    transition: background 0.2s;
}

ul li:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

/*ícones das redes*/
#social {
    display: flex;
    justify-content: center;

    padding: 20px 0;
    font-size: 24px;
}

#social a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    transition: background 0.2s;
    border-radius: 50%;
}

#social a:hover {
    background: var(--highlight-color);
}

/*rodapé*/
footer {
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}

#date {
    font-size: 12px;
}

/*media queries*/
@media (min-width) {
    :root {
        --bg-url: url(./assets/assets/bg-desktop.jpg)
    }

    .light {
        --bg-url: url(./assets/assets/bg-desktop-light.jpg)
    }
}

/*animação slide para o modo claro*/
@keyframes slide-to-light {
    from {
        left: 0;
    }
    to {
        left: 55%;
    }
}

/*animação slide para o modo escuro*/
@keyframes slide-to-dark {
    from {
        left: 55%;
    }
    to {
        left: 0;
    }
}